
{% extends '_partials/base.html' %}

{% block header %}

<!-- <style>
    /* Additional styling to center the card */
    .centered-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Optional: Adjust the height as needed */
    }
  </style> -->
<title>Détails Noeuds</title>

{% endblock %}


{% load static %}

{% block content %}
<div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 service-items" id="items" 
style="text-align: center;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;">

<h2 class="ui header">Node Details</h2>

<div class="ui container centered-card"  
style="text-align: center;
        
        display: flex;
      justify-content: center;
      align-items: center;">

<div class="ui card" style="margin-top: 50px; margin-bottom: 60px;">
    <div class="content">
      <div class="header">Id: {{node.id}}</div>
      <div class="description">
        <p> <strong> Type </strong> : {{node.types}}</p>
        <p> <strong> Label </strong> : {{node.labels}}</p>   
        <p> <strong> properties </strong> : </p>
        {% for key, value  in node.properties.items %}
               <strong> {{key}} </strong>  :  {{value}} <br>
        {% endfor %}
      </div>
    </div>
    <div class="extra content"> 

       <p> --- Not Things yet --- </p> 

      <a  href="/plugins/bd_schema_plugin/edit/{{node.id}}" class="ui button primary"><i class="pencil icon"></i></a>  
      <a href="/plugins/bd_schema_plugin/delete/{{node.id}}" class="ui button red"><i class="trash icon"></i></a>
    </div>

</div>
</div>

</div>
{% include '_partials/footer.html' %} 

  
{% endblock content %}